body {
  margin: 0;
}

#simon {
  width: 320px;
  height: 320px;
  margin: auto;
  position: relative;
}

/* Simon buttons buttons */

#green
{
  background-color: green;
}

#red
{
  background-color: red;
}

#yellow
{
  background-color: yellow;
}

#blue
{
  background-color: blue;
}

/* Winner dialog */

.dialog
{
  position: absolute;
  left: 80px;
  top: 80px;
  width: 160px;
  height: 160px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: 1px solid red;
}