/* Simon buttons buttons */

#green
{
  background-color: green;
}

#red
{
  background-color: red;
}

#yellow
{
  background-color: yellow;
}

#blue
{
  background-color: blue;
}

/* Winner dialog */

.dialog
{
  position: absolute;
  left: 50px;
  top: 50px;

  padding: 10px;
  background-color: white;
  border: 1px solid red;
}